<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Log In and Registration </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style> 
        #container {
            padding: 80px; 
            margin: auto; 

        }

    </style>
    
</head>
<body> 
    <div id ='container'>

    <h1> Home Page </h1>

    <p> Welcome to your homepage! {{ session['user_first_name']}}.</p>


    Logged in: {{ session['logged_in'] }}


    <a href="/logout" class="btn btn-secondary" > Log Out </a>

    </div>
    

</body>