<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Little Red Coding Hood</title>

    <style type="text/css">
        *{
        outline: 1px dotted red;
        }

        #wrapper{
            width: 700px;
            height: 400px; 

        }

        #container{
            width: 770px;
            height: 380px; 
        
        }

    
    </style>


</head>

<body>
    <div id="wrapper">

        <div id ="container">
    
            <h1>Little Red Coding Hood</h1>

            <p> Once upon a time there was a little girl with a long code.
                One day as she was routing along she came across 
                (Choose One)
            </p>


            <a href="/choiceA"> A) A frog that peed on her hand.  </a>

            <a href="/choiceB"> B) A cute bunny that hops off into the 
                deep, dark forest</a>
        </div>
    </div>
</body>
</html>