<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Little Red Coding Hood</title>

    
    <style type="text/css">
        *{
        outline: 1px dotted red;
        }

        #wrapper{
            width: 700px;
            height: 400px; 

        }

        #container{
            width: 770px;
            height: 380px; 
        }

    
    </style>


</head>


<body>
    <div id="wrapper">

        <div id ="container">
        
            <h1> CHOICE A </h1>

            <p> 
                When the frog peed, Red Coding Hood screamed and tossed the frog 
                high in the air.  

            </p>


            <a href="/choiceC"> C) It lands on her hood </a>

            <a href="/choiceD"> D) It hits the ground and hops away </a>

        </div>
    </div>
</body>
</html>