<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Little Red Coding Hood</title>

    
    <style type="text/css">
        *{
        outline: 1px dotted red;
        }

        #wrapper{
            width: 700px;
            height: 400px; 

        }

        #container{
            width: 770px;
            height: 380px; 
        }

    

    </style>

<body>
    <div id="wrapper">

        <div id ="container">

            <h1> CHOICE C</h1>

            <p> Then it slides on her hood, leaving a slimy trail. The frog lands on the ground spins around on one leg,
                drunkenly says "Hellloooowwwwww Worrrrlllddd!"
                
            </p>


            <a href="/choiceG"> G) Little Red Coding Hood feels sorry for the frog and carries him to the lake.  </a>

            <a href="/choiceH"> H) Little Red Coding Hood steps over the frog and says, "it serves you right!"</a>

        </div>
        
    </div>
</body>
</html>
</head>

