<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>Show Page</title>


    <style> 
    #wrapper {
    width: 200px; 
    height: 400px;
    }
    </style>
</head>

<body>
    <div id = "wrapper">

    <h1> Show Page </h1>

    <p> Information Submitted </p>
    <p> Name: {{ name_template }} </p>
    <p> Dojo Location: {{ dojo_template }}</p>
    <p> Language: {{ language_template }}</p>
    <p> Comments: {{ comment_template }} </p>

    </div>

</body>
</html>