<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Job Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style> 

        .row {
            padding: 70px; 
            margin: auto; 
        }
    
    </style>
</head>
<body>
    <div class = "container">

    <h3> Edit </h3>

    <form action ="/edit_process" method="POST"> 
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% endwith %}
                
        
        {% with messages = get_flashed_messages(category_filter= ["job_error"]) %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
        <p class ="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
        {% endwith %}
        <input type ="text" class="form-control mb-4"  name ="job" value = "{{ job[0].job }}">
        

        
        {% with messages = get_flashed_messages(category_filter= ["loc_error"]) %}
        {% if messages %}                          
        {% for message in messages %}           
        <p class ="text-danger">{{message}}</p>                   
        {% endfor %}
        {% endif %}
        {% endwith %}      

        <input type ="text" class ="form-control mb-4" name = "location" value = "{{ job[0].location }}">
       
        <input type= "hidden" name="jobID" value="{{ job[0].id }}">
        
        <input type ="submit" class = "btn btn-primary">
        
 
    </form>
    </div>
</body>
</html>