<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Dojo Fruit Store </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
        
    
</head>
<body>

    <header> 
        <div class ="navbar navbar-dark bg-dark box-shadow">
            <div class = "container d-flex justify-content-between">
            </div>
        </div>

    </header>

    <section class = "jumbotron text-center">
        <div class = "container">
            <h1 class = "jumbotron-heading"> DOJO FRUIT STORE </h1>
            <p class = "lead text muted"> Your dojo decided to buy fruits for all the students!
                Please use this app to tell us what you would like to have! Once we get your order,
                we'll charge your student account automatically.
            </p>

            <p> 
                <a href="#buy" class="btn btn-primary my-2">Order fruits from the store</a>
                <a href="/fruits" class="btn btn-secondary my-2">See Fruits</a>

            </p>
        </div>
    </section>


    <div class="album py-5 bg-light">

        <div class ="container">
            <form action = '/checkout' method="POST">
            <h4 class = "mb-3" id ="buy"> What would you like to buy?</h4>  
            <table  class ="table" table-striped">
                <thead>
                    <tr>
                        <th>Fruit Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>

                <tbody>
                    <tr> 
                        <td>Strawberry</td>
                        <td>
                            <select name = "strawberry">
            
            
                            <option value ='1'> 1 </option>
                            <option value ='2'> 2 </option>
                            <option value ='3'> 3 </option>
                            <option value ='4'> 4 </option>
                            <option value ='5'> 5 </option>

                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td> Orange </td>
                        <td>
                            <select name = "orange">
        
                            <option value ='1'> 1 </option>
                            <option value ='2'> 2 </option>
                            <option value ='3'> 3 </option>
                            <option value ='4'> 4 </option>
                            <option value ='5'> 5 </option>

                            </select>
                        </td>    
                    </tr>

                    <tr>
                        <td>Apple </td>
                        <td> 
                            <select name = "Apple">
                            <option value ='1'> 1 </option>
                            <option value ='2'> 2 </option>
                            <option value ='3'> 3 </option>
                            <option value ='4'> 4 </option>
                            <option value ='5'> 5 </option>
                    </tr>
                </tbody>
            </table>

            <h4 class ="mb-3" id='info'> Your Information </h4>
            <div class = "row">
                <div class = "col-md-6 mb - 3">
                    <label for ="firstname"> First Name </label>
                    <input type = "text" class = "form-control" name = "first_name" value ="First Name">

                </div>

                <div class = "col-md-6 mb-3">
                    <label for = "lastname"> Last Name</label>
                    <input type = "text" class = "form-control" name = "last_name" value = "Last Name">
                </div>

                <div class ="col-md-6 mb-3">
                    <label for ="email" > Your Email </label>
                    <input type ="text" class ="form-control" name = "email" value = "Email">

                </div>

                <hr class = "mb-4">
                <button class="btn btn-primary btn-lg btn-block" type = "submit">Checkout</button>
            </div>
            </form>
        </div>
    </div>
        
</body>
</html>